<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<header class='mt-5'><%- include('./partials/nav.ejs', {page: 'about'}) %></header>
		<main class="class=d-flex flex-column w-50 mx-auto mt-5 text-center justify-content-center">
			<h1>hello from about</h1>
		</main>
	</body>
</html>



